body {
  text-align: center;
}

#colors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 600px;
  margin: auto;
}

#row1 {
  background-color: #f5c6d6;
  width: 100%;
  height: 100%;
}

.pinks {
  background-color: #ee2e84;
  flex: 1;
  height: 100%;
  margin: 0 5px;
}

.pinks:first-child {
  margin-left: 0;
}

.pinks:last-child {
  margin-right: 0;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.blues {
  background-color: #85cfd8;
  height: 100%;
  flex: 2;
}

.blues:first-child {
  margin-right: 5px;
}

.blues:last-child {
  margin-left: 5px;
}

#green {
  background-color: #8dc63f;
  height: 100%;
  flex: 3;
  margin-right: 5px;
}

#orange {
  background-color: #e76e34;
  flex: 1;
  height: 100%;
  margin-left: 5px;
}

@media only screen and (max-width: 1024px) {
  #colors {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #colors {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .pinks {
    margin: 5px 0;
  }

  .blues:first-child {
    margin: 5px 0;
  }

  .blues:last-child {
    margin: 5px 0;
  }

  #green {
    margin: 5px 0;
  }

  #orange {
    margin: 5px 0;
  }
}